# Virtual Environment
.venv/
C:\Desktop\ED-tech\.venv

# Python Files
*.pyc
__pycache__/

# Node.js Files
node_modules/
C:\Desktop\ED-tech\Frontend\edtech\node_modules
dist/
build/

# Rasa Files
.rasa/
C:\Desktop\ED-tech\Chatbot\.rasa
logs/
*.sqlite
*.tar.gz
C:\Desktop\ED-tech\Chatbot\rasa_venv

# System Files
.DS_Store
Thumbs.db
